/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-dic-2025, 9.38.09
    Author     : achil
*/

.delete {
    -fx-background-color:transparent;
    -fx-border-radius: 25px;
    -fx-border-color: black; 
    -fx-border-width: 1 1 1 1;
}
.button-red {
    -fx-cursor: hand;
    -fx-background-color:#DE1616;
}

.button-blue {
    -fx-cursor: hand;
    -fx-background-color:#2264E5;
}

.textfield {
    -fx-border-radius: 15px;
    -fx-background-color:#f0f4ff;

}