/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-dic-2025, 12.58.22
    Author     : achil
*/

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #757575;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: transparent;
}

.menu-button:hover {
    -fx-background-color: #f0f4ff;
    -fx-text-fill: #2264E5;
}


.menu-button-active {
    -fx-background-color: #e3efff;
    -fx-text-fill: #2264E5; 
    -fx-border-color: #2264E5;
    -fx-border-width: 0 0 0 5;
}

.button-blue {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    
    -fx-background-color: 
        #2264E5,
        linear-gradient(to bottom, #4B85FA 0%, #2264E5 10%),
        #2264E5;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: dropshadow(three-pass-box, rgba(34, 100, 229, 0.25), 5, 0, 0, 3);
}
.button-blue:hover {
    -fx-background-color: 
        #1c54c7,
        linear-gradient(to bottom, #5a8ffb 0%, #1c54c7 10%),
        #1c54c7;
}
.button-blue:pressed {
    -fx-background-insets: 0, 0, 0;
    -fx-background-color: #1a50be;
    -fx-translate-y: 1;
}

.table .column-header {
    -fx-background-color: rgba(193, 220, 252, 0.25);
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 1 0;
    -fx-padding:5px;
}

.table .column-header .label {
    -fx-text-fill: #2264E5;
    -fx-font-weight: bold;
}

.table .table-row-cell {
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 1 0;
}
.table table-cell {
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 1 0;
}

.sidebar {
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 0 0; 
}

.account {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.search-box {
    -fx-border-radius: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 0 5 0 15; 
}

.search-box .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;

}

.search-box .text-field:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.search-box .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;

}

.table-row-cell:delete {
    -fx-background-color: #ffcccc;
    -fx-background: #ffcccc;      
}

.table-row-cell:delete:hover {
    -fx-background-color: #ffcccc;
}